/* Will be compiled down to a single stylesheet with your sass files */
header,
#main-container {
  display: block;
  padding: 5px;
}
input,
textarea {
  width: 100%;
}
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid {
  border: 1px solid red;
}
input.ng-valid,
textarea.ng-valid {
  border: 1px solid green;
}
.error small.error {
  display: block;
  padding: 0.375em 0.25em;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: bold;
  background: #c60f13;
  color: white;
}
.center {
  text-align: center;
}
.r {
  float: right;
}
