/* Will be compiled down to a single stylesheet with your sass files */
input,
textarea{
	width:100%;
}
textarea.ng-dirty.ng-invalid,
input.ng-dirty.ng-invalid {
  border: 1px solid red;
}
textarea.ng-valid,
input.ng-valid {
  border: 1px solid green;
}
.error small.error {
	display: block;
	padding: 0.375em 0.25em;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
	background: #c60f13;
	color: white;
}
